:root {
    --main-color: rgb(6, 57, 108);
    --sec-color: grey;
    --thi-color: black
}

* {
    font-family: 'Electrolize', sans-serif;
}

.tc-main {
    color: var(--main-color);
}

.tc-sec {
    color: var(--sec-color);
}

.tc-thi {
    color: var(--thi-color);
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background: linear-gradient(to left, rgba(6, 57, 108, 0.4), rgba(6, 57, 108, 0.4)), url(./media/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.masthead-2 {
    height: 700px;
    background-image: linear-gradient(to left, rgba(6, 57, 108, 0.5), rgba(6, 57, 108, 0.5)), url(./media/power-plant-4712830_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 200px;
}

.masthead-3 {
    height: 350px;
    background-color: var(--main-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-size: 60px;
    color: white;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    color: var(--main-color);
    font-weight: bold;
}

h3 {
    font-size: 60px;
    color: white;
    font-weight: bold;
}

.navbar-brand img {
    width: 50px;
}

.navbar-bg-color {
    background-color: var(--main-color);
}

.tratt {
    position: relative;
}

.tratt::before {
    content: '';
    width: 1px;
    height: 1px;
    border-left: solid white 1px;
    padding-left: 10px;
}

.spos-sx {
    position: absolute;
    left: 4%;
}

@media screen and (max-width: 768px) {
    .spos-sx {
        position: absolute;
        left: 18%;
        font-size: 14px;
    }
}

.spos-dx {
    position: absolute;
    right: 11.5%;
}

@media screen and (max-width: 768px) {
    .spos-dx {
        position: absolute;
        right: 47%;
        font-size: 14px;
    }
}

.spos-dx-2 {
    position: absolute;
    right: 6.5%;
}

@media screen and (max-width: 768px) {
    .spos-dx-2 {
        position: absolute;
        right: 25%;
        font-size: 14px;
    }
}

.spos-dx-3 {
    position: absolute;
    right: 1%;
}

@media screen and (max-width: 768px) {
    .spos-dx-3 {
        position: absolute;
        right: 1%;
        font-size: 14px;
    }
}

a {
    text-decoration: none;
    color: white;
}

.mega {
    font-size: 55px;
    color: black;
    font-weight: bold;
    position: relative;
    right: 4%;
}

.mega-2 {
    font-size: 55px;
    color: white;
    font-weight: bold;
}

.mega-3 {
    font-size: 45px;
    color: var(--main-color);
    font-weight: bold;
}

.i-1 {
    color: var(--main-color);
    font-size: 60px;
}

.i-2 {
    color: white;
    font-size: 45px;
}

.i-card {
    color: white;
    font-size: 50px;
}

.i-card-2 {
    color: var(--sec-color);
    font-size: 40px;
}

.i-footer {
    color: white;
    font-size: 5px;
}

.card-border {
    border: none;
}

.pos-img {
    position: relative;
    left: 80px;
}

.bg-carta {
    background-color: var(--main-color);
    border: solid 5px white;
    border-radius: none;
}

@media screen and (min-width: 375px) {
    .bg-carta {
        background-color: var(--main-color);
        border: solid 5px white;
        border-radius: none;
        height: 900px;
    }
}

.bg-carta-2 {
    border-style: none;
    border-radius: none;
}

.bg-carta-3 {
    background-color: var(--main-color);
    border-radius: none;
    height: 550px;
    width: 550px;
}

@media screen and (max-width: 768px) {
    .bg-carta-3 {
        background-color: var(--main-color);
        border-radius: none;
        height: 500px;
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .bg-carta-3 {
        background-color: var(--main-color);
        border-radius: none;
        height: 500px;
        width: 100%;
    }
}

.ps-carta {
    position: relative;
    bottom: 50px;
    z-index: -100px;
}

.ps-carta-2 {
    position: relative;
    right: 2%;
    z-index: 100px;
}

.ps-carta-3 {
    position: relative;
    bottom: 200px;
    z-index: 100px;
}

.ps-carta-4 {
    position: relative;
}

@media screen and (max-width: 768px) {
    .ps-carta-4 {
        position: relative;
        left: 50px;
    }
}

.ps-carta-5 {
    position: relative;
}

@media screen and (max-width: 768px) {
    .ps-carta-5 {
        position: relative;
        left: 160px;
    }
}

@media screen and (max-width: 375px) {
    .ps-carta-5 {
        position: relative;
        left: 0px;
    }
}

.ps-carta-6 {
    position: relative;
}

@media screen and (max-width: 768px) {
    .ps-carta-6 {
        position: relative;
        left: 160px;
    }
}

@media screen and (max-width: 375px) {
    .ps-carta-6 {
        position: relative;
        left: 0px;
    }
}

.ps-carta-footer {
    position: relative;
    bottom: 300px;
    left: 200px;
}

@media screen and (max-width: 768px) {
    .ps-carta-footer {
        position: relative;
        bottom: 0px;
        left: 0px;
    }
}

.btn-custom {
    background-color: var(--main-color);
    color: white;
    border: none;
    width: 140px;
    height: 40px;
    zoom: 1;
    transition: all 2s;
}

.btn-custom:hover {
    background-color: var(--main-color);
    zoom: 1.5;
}

.btn-custom:focus {
    outline: none;
}

.map {
    position: relative;
    top: 30%;
}

.bg-card-img {
    background-image: url(./media/prima.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 600px;
    height: 200px;
}

@media screen and (max-width: 375px) {
    .bg-card-img {
        background-image: url(./media/prima.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 350px;
        height: 200px;
        position: relative;
        left: 3%;
        font-size: 16px;
    }
}

.bg-card-img-2 {
    background-image: url(./media/seconda.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 600px;
    height: 200px;
}

@media screen and (max-width: 375px) {
    .bg-card-img-2 {
        background-image: url(./media/seconda.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 350px;
        height: 200px;
        position: relative;
        left: 3%;
        font-size: 16px;
    }
}

.bg-card-img-3 {
    background-image: url(./media/terza.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 600px;
    height: 200px;
}

@media screen and (max-width: 375px) {
    .bg-card-img-3 {
        background-image: url(./media/terza.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 350px;
        height: 200px;
        position: relative;
        left: 3%;
        font-size: 16px;
    }
}

.bg-card-img-4 {
    background-image: url(./media/quarta.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 600px;
    height: 200px;
}

@media screen and (max-width: 375px) {
    .bg-card-img-4 {
        background-image: url(./media/quarta.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 350px;
        height: 200px;
        position: relative;
        left: 3%;
        font-size: 16px;
    }
}

.bg-card-img-5 {
    background-image: linear-gradient(to left, rgba(6, 57, 108, 0.5), rgba(6, 57, 108, 0.5)), url(./media/sun.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
}

.bg-card-img-6 {
    background-image: linear-gradient(to left, rgba(6, 57, 108, 0.5), rgba(6, 57, 108, 0.5)), url(./media/wind.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
}

.bg-card-img-7 {
    background-image: linear-gradient(to left, rgba(6, 57, 108, 0.5), rgba(6, 57, 108, 0.5)), url(./media/wave.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
}

.bg-card-img-8 {
    background-image: linear-gradient(to left, rgba(6, 57, 108, 0.5), rgba(6, 57, 108, 0.5)), url(./media/gas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
}

.bg-card-img-9 {
    background-image: linear-gradient(to left, rgba(6, 57, 108, 0.5), rgba(6, 57, 108, 0.5)), url(./media/oil.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
}

.bg-card-img-10 {
    background-image: linear-gradient(to left, rgba(6, 57, 108, 0.5), rgba(6, 57, 108, 0.5)), url(./media/nuclear.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
}

.card-shadow {
    background: linear-gradient(to left, transparent 40%, rgba(6, 57, 108, 0.5), rgba(6, 57, 108, 0.5));
    z-index: 100px;
    position: relative;
    left: -40px;
    top: -20px;
    width: 600px;
    height: 200px;
}

@media screen and (min-width: 320px) {
    .card-shadow {
        background: linear-gradient(to left, transparent 40%, rgba(6, 57, 108, 0.5), rgba(6, 57, 108, 0.5));
        z-index: 100px;
        position: relative;
        left: -20px;
        top: -10px;
        width: 350px;
        height: 200px;
    }
}

@media screen and (min-width: 375px) {
    .card-shadow {
        background: linear-gradient(to left, transparent 40%, rgba(6, 57, 108, 0.5), rgba(6, 57, 108, 0.5));
        z-index: 100px;
        position: relative;
        left: -20px;
        top: -10px;
        width: 350px;
        height: 200px;
    }
}

.box-card {
    width: 400px;
    height: 300px;
}

.bar-bottom {
    border-bottom: 10px solid var(--main-color);
    width: 70%;
}

.bar-bottom-2 {
    border-bottom: 10px solid var(--main-color);
    width: 80%;
}

.bar-bottom-3 {
    border-bottom: 10px solid var(--main-color);
    width: 90%;
}

.bar-bottom-4 {
    border-bottom: 10px solid var(--main-color);
    width: 100%;
}

.bar-bottom-5 {
    border-bottom: 10px solid var(--main-color);
    width: 95%;
}

footer {
    background-color: var(--thi-color);
    width: 100%;
    height: auto;
}

.img-footer {
    height: 40px;
    width: auto;
}

.font-footer {
    font-size: 16px;
    color: white;
    text-decoration-line: underline;
}

ul {
    list-style-type: none
}

@media screen and (min-width: 375px) {
    .card-shadow {
        background: linear-gradient( to left, transparent 40%,  rgba(6, 57, 108, 0.5) , rgba(6, 57, 108, 0.5));
        z-index: 100px;
        position: relative;
        left: -20px;
        top: -10px;
        width: 350px;
        height: 200px;
    }
}